<nav style="background-color: rgba(0, 0, 0, 0.555);" class="navbar navbar-expand-lg navbar-dark">
    <div class="container px-5">
        <b>
            <a style="color: black; background-color: white" class="navbar-brand" href="#!"><img style="width: 50px;height: 50px;" src="https://i.postimg.cc/VNMTvPnR/305d896116caea6f0053e5cfdf009dd0.jpg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </b>
    </div>
</nav>
